@model QLCoffee.Models.ViewModel.OTPViewModel

@{
    ViewBag.Title = "Xác thực OTP";
    Layout = "~/Views/Shared/_LayoutDangKy.cshtml";
}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h3 class="text-center">Xác thực mã OTP</h3>
                <p class="text-muted text-center">Nhập mã OTP đã gửi đến email của bạn</p>

                @using (Html.BeginForm("VerifyOTP", "Login", FormMethod.Post, new { @class = "needs-validation" }))
                 {
                   
                    <div class="mb-3">
                        <label class="form-label">Mã OTP</label>
                        <input type="text" name="otp" class="form-control" placeholder="Nhập mã OTP..." />
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Xác thực</button>
                    <p class="text-danger text-center mt-2">@ViewBag.ErrorMessage</p>


                 }
            </div>
        </div>
    </div>

</div>