body {
    margin: 0;
}
#div-content {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-top: 50px;
}

#div-left {
    width: 20%;
    height: 100vh; /* Đảm bảo chiều cao chiếm 100% viewport */
    position: fixed; /* Đảm bảo sidebar không bị cuộn */
    float: left;
    overflow-y: auto; /* Nếu sidebar dài hơn, cho phép cuộn */
    padding-top: 20px;
}

.nav-link {
    padding: 10px 15px;
    display: block;
}

    .nav-link:hover {
        background-color: #495057;
        border-radius: 5px;
    }

.logo {
    display: flex;
    flex-direction: column; /* Xếp theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc (nếu cần) */
}

#bot-size{
    margin-top: 20px;

}

.pagination li a {
    color: #007bff;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    text-decoration: none;
}

    .pagination li a:hover {
        background-color: #007bff;
        color: white;
    }

 

/* Ẩn submenu mặc định */
.dropdown-menu {
    display: none;
    opacity: 0; /* Để hiệu ứng fade-in khi hiện menu */
    transform: translateY(-10px); /* Hiệu ứng trượt từ trên xuống */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
    /* Khi hiển thị dropdown */
    .dropdown-menu.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
   



