body {
    margin:0;
}
.pagination-container {
    margin: 20px;
    text-align: center;
}

    .pagination-container a {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }

        .pagination-container a:hover {
            background-color: #e91e63;
            color: #fff;
        }
